.b_contact_ceo_bg{
	background-color: #FBC035;
	background-image: url(../img/b_market_filtr_bg.png);
    height: 569px;
    .b_contact_ceo_form{
    	margin: 67px auto 0 auto;
    	background: url(../img/letter_bg.png) no-repeat center top;
    	width: 754px;
		height: 414px;
    }
}