.b-sms_bg{
    .b-sms-form{
        
        max-width: 57%;
        @media only screen and (max-width: 992px) {
            max-width: 100%;
        }
    }
    //background-color: aquamarine;
    .flex-container{
        display: flex;
        justify-content: space-between;
        @media only screen and (min-width: 1200px) {
            max-width: 80%;
            margin: 0 auto;
        }

    }
    .flex-container::before,
    .flex-container::after{
        display: none;
    }
    .input-phone::-moz-placeholder,
    .input-phone:-ms-input-placeholder,
    .input-phone::-webkit-input-placeholder,
    .input-phone::placeholder,
    input{
        color: aqua !important;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin-top: 10px;
        color: #000000;
        a{
            text-decoration-line: underline;
            color: #000000;
        }
    }
    

}


