.giving{
    font-family: "Montserrat", sans-serif;
    padding: 40px 0 35px;
    
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-bottom: 17px;
        text-transform: uppercase;
        color: #DF0054;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #000000;
    }
}

.es14_bg_custom{
    .slick-slide{
        height: auto;
    }
}